In [1]:
import pandas as pd

In [41]:
df = pd.DataFrame([[1, 2, 'a'], [4, None , 'b'],[7, None ,'c'] ,[77, None ,'a']],
     index=['cobra', 'viper', 'sidewinder' , 'concac'],
     columns=['max_speed', 'shield','name'])

In [42]:
df

            max_speed  shield name
cobra               1     2.0    a
viper               4     NaN    b
sidewinder          7     NaN    c
concac             77     NaN    a

In [43]:
df['name2'] = [1,2,3,6]

In [44]:
df

            max_speed  shield name  name2
cobra               1     2.0    a      1
viper               4     NaN    b      2
sidewinder          7     NaN    c      3
concac             77     NaN    a      6

In [48]:
df['name'].value_counts().rename_axis('zz').reset_index(name='counts').sort_values(by=['counts'])

  zz  counts
1  b       1
2  c       1
0  a       2

In [46]:
.

SyntaxError: invalid syntax (1933637684.py, line 1)